@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #95b2b3;
  --foreground: #485348;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #95b2b3;
    --foreground: #485348;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}